# Data handling
pandas
numpy

# Machine Learning / Feature Engineering
scikit-learn
scipy

# Recommender Systems
implicit
faiss-cpu

# Utilities
tqdm
joblib

# Visualization
matplotlib
seaborn
altair==4.2.2  # fixed for Streamlit compatibility

# Web / UI
streamlit

# Text processing (content-based tags)
nltk
